In [17]:
import pandas as pd

In [18]:
# read = pd.read_csv('/home/vikas/Downloads/data/college.csv')

In [19]:
# read

In [20]:
r = pd.read_csv('/home/vikas/Desktop/DS/2. ds/4. Machine Learning/6. General Concepts/data/Fremont.csv')
r.head()

              Date  Fremont Bridge East Sidewalk  Fremont Bridge West Sidewalk
0  10-03-2012 0.00                           9.0                           4.0
1  10-03-2012 1.00                           6.0                           4.0
2  10-03-2012 2.00                           1.0                           1.0
3  10-03-2012 3.00                           3.0                           2.0
4  10-03-2012 4.00                           1.0                           6.0

In [21]:
r.Date = r.Date.str.split(' ').str[0]
r.Date.head()

0    10-03-2012
1    10-03-2012
2    10-03-2012
3    10-03-2012
4    10-03-2012
Name: Date, dtype: object

Below statements cause error in date col thats why comment it

In [22]:
# r.Date = r.Date.str.split(' ').str[1]
# r.Date.head()

In [23]:
r.dtypes

Date                             object
Fremont Bridge East Sidewalk    float64
Fremont Bridge West Sidewalk    float64
dtype: object

In [41]:
r.date = pd.to_datetime(r.Date,infer_datetime_format =True)

In [42]:
r.dtypes

Date                            datetime64[ns]
Fremont Bridge East Sidewalk           float64
Fremont Bridge West Sidewalk           float64
dtype: object

In [43]:
r.Date = pd.to_datetime(r.Date,infer_datetime_format =True)

In [44]:
r.dtypes # here Date col has change the dtype float to dattime

Date                            datetime64[ns]
Fremont Bridge East Sidewalk           float64
Fremont Bridge West Sidewalk           float64
dtype: object

In [45]:
def add_datepart(df, fldname, drop=True, time=False):
    "Helper function that adds columns relevant to a date in the column `fldname` of `df`."
    import re
    fld = df[fldname]
    fld_dtype = fld.dtype
    
    if isinstance(fld_dtype, pd.core.dtypes.dtypes.DatetimeTZDtypeType):
        fld_dtype = np.datetime64
        
    if not np.issubdtype(fld_dtype, np.datetime64):
        df[fldname] = fld = pd.to_datetime(fld, infer_datetime_format=True)
         
    prefix = re.sub('[Dd]ate$', '', fldname)
    attr = ['Year', 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear',
            'Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start']
    if time: 
        attr = attr + ['Hour', 'Minute', 'Second']
    for n in attr: 
        df[prefix + n] = getattr(fld.dt, n.lower())
    df[prefix + 'Elapsed'] = fld.astype(np.int64) // 10 ** 9
        
    if drop: df.drop(fldname, axis=1, inplace=True)

In [46]:
r.head()

        Date  Fremont Bridge East Sidewalk  Fremont Bridge West Sidewalk
0 2012-10-03                           9.0                           4.0
1 2012-10-03                           6.0                           4.0
2 2012-10-03                           1.0                           1.0
3 2012-10-03                           3.0                           2.0
4 2012-10-03                           1.0                           6.0

In [47]:
add_datepart(r, 'Date')

AttributeError: module 'pandas.core.dtypes.dtypes' has no attribute 'DatetimeTZDtypeType'