# Aggregation (groupby)

Try answering the following queries:
* Finding the number of cancelled flights for every airline per weekday.
* Finding the number and percentage of cancelled and diverted flights for every airline per weekday. 
* For each origin and destination, finding the total number of flights, the number and percentage of cancelled flights, and the average and variance of the airtime.


One of the most fundamental tasks during a data analysis involves splitting data into independent groups before performing a calculation on each group.  The powerful **groupby** method, which allows you to group your data in any way imaginable and apply any type of function independently to each group before returning a single dataset.

The most common use of the groupby method is to perform an **aggregation**. What actually is an aggregation? In our data analysis world, an aggregation takes place when a sequence of many inputs get summarized or combined into a single value output. For example, summing up all the values of a column or finding its maximum are common aggregations applied on a single sequence of data. An aggregation simply takes many values and converts them down to a single value. 

Before we get started, we will need to know just a little terminology. All basic groupby operations have **grouping columns**, and each unique combination of values in these columns represents an independent grouping of the data. In addition to the grouping columns, most aggregations have two other components, the **aggregating columns** and **aggregating functions**. The aggregating columns are those whose values will be aggregated. The aggregating functions define how the aggregation takes place. Major aggregation functions include *sum, min, max, mean, count, variance, std, and so on*.

In [0]:
import pandas as pd
import numpy as np

In [0]:
flights = pd.read_csv('data/flights.csv')
flights.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

In [0]:
flights.groupby('AIRLINE')['DIVERTED'].sum()

In [0]:
flights.groupby('AIRLINE').agg({'ARR_DELAY':'mean'}).head() ## notice the difference in output

In [0]:
flights.groupby('AIRLINE')['ARR_DELAY'].agg(np.mean).head()

In [0]:
flights.groupby('AIRLINE')['ARR_DELAY'].mean().head()

## How it works...

A completely new intermediate object is first produced with its own distinct attributes and methods. No calculations take place at this stage. Pandas merely validates the grouping columns. This groupby object has an agg method to perform aggregations.

In [0]:
grouped = flights.groupby('AIRLINE')
type(grouped)

## There's more

If you do not use an aggregating function with agg, pandas raises an exception. For instance, let's see what happens when we apply the square root function to each group:

In [0]:
flights.groupby('AIRLINE')['ARR_DELAY'].agg(np.sqrt)

# Grouping and aggregating with multiple columns and functions

It is possible to do grouping and aggregating with multiple columns. The syntax is only slightly different than it is for grouping and aggregating with a single column.

~~~ python
>>> df.groupby(['grouping', 'columns']).agg({'agg_cols1':['list', 'of', 'functions'],
                                          'agg_cols2':['other', 'functions']}) 
~~~

Now with the knowledge of *groupby method* try answering the queries above. As usual with any kind of grouping operation, it helps to identify the three components: the grouping columns, aggregating columns, and aggregating functions.

In [0]:
# The number of cancelled flights for every airline per day weekday
flights.groupby(['AIRLINE', 'WEEKDAY'])['CANCELLED'].agg('sum').head(7)

In [0]:
#Find the number and percentage of cancelled and diverted flights for every airline per weekday
flights.groupby(['AIRLINE', 'WEEKDAY'])['CANCELLED', 'DIVERTED'].agg(['sum', 'mean'])

In [0]:
# For each origin to destination flight, find the total number of flights, 
# the number and percentage of cancelled flights and the average and variance of the airtime. 
group_cols = ['ORG_AIR', 'DEST_AIR']
agg_dict = {'CANCELLED':['mean', 'size'], 
            'AIR_TIME':['mean', 'var']}
flights.groupby(group_cols).agg(agg_dict).head()
# flights.groupby(['ORG_AIR', 'DEST_AIR']).agg({'CANCELLED': ['sum', 'mean', 'size'], 
#                                               'AIR_TIME':['mean', 'var']}).head()